.single {
    .product_title.entry-title {
        @apply text-22px uppercase text-center;
    }

    .attachment-woocommerce_thumbnail {
        @apply w-full lg:w-auto;
    }

    .inner-price {
        ins {
            @apply text-24px no-underline;
        }

        del {
            @apply ml-2 mb-1;
        }
    }
}
