@import "tailwindcss/base";
@import "tailwindcss/components";
@import "_global.pcss";
@import "_header.pcss";
@import "_woocomerce-global.pcss";
@import "_sidebar-categories.pcss";
@import "_archive-product.pcss";
@import "_single-product.pcss";
@import "_language-switcher.pcss";
@import "_block-values.pcss";
@import "tailwindcss/utilities";
