# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

!web/app/plugins/advanced-custom-fields-pro
!web/app/plugins/woocommerce-ajax-filters
!web/app/plugins/wp-all-import-pro
!web/app/plugins/wpai-woocommerce-add-on

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
.idea
.history

docker/data/*
/web/app/languages/plugins/*
/web/app/languages/wpml/*
